<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap Login</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="css/login_style.css">
  <title>生产物料管理系统 - 登录</title>
</head>
<body>

<!-- partial:index.partial.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 login-left vertical-center">
      <div class="brand">
        <div class="produce">
          Inventory_system
        </div>
        <div class="stems">
          仓库生产物料管理系统
        </div>
        <div class="trampolene">
          XXX有限公司
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 login-right vertical-center">
      <div class="container">
        <div class="row">
          <div class="col align-self-start">
            <div class="login-form">
              <form>
              <div class="banner">
                 <h1>登录</h1>
              </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">工号</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">密码</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">保持登录</label>
                </div>
                <div class="forgot">
                  <a href="#">忘记密码</a>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
                <div class="agree">
                    <p>登录即代表您同意我们的 <a href="#">服务条款</a> 和 <a href="#">隐私政策</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="square s1"></div>
  <div class="square s2"></div>
  <div class="square s3"></div>
</div>
<!-- partial -->
  
</body>
</html>
